/*
Colorblind safe color palette from colorbrewer2.org
#fbb4b9 - Light Pink
#c51b8a - Magenta
#7a0177 - Deep Purple
*/

body {
  background-color: #fbb4b9;
  color: #c51b8a;
  text-align: center;
}

h1 {
  color: #7a0177;
}
